extends layout

block content
  div.container
    aside.col.a.cohorts
      h2 Cohorts
      div#cohorts
      script(src="/js/fetch-cohorts.js")
    section.col.b.main
      nav.tabs
        span.tab.one.active
          |Schedule
        span.tab.two
          | Courses
        span.tab.three
          |Instructors
        span.tab.four
          |Full
      section.cbox.one
        include tabs/one
        
      section.cbox.two
        include tabs/two
      section.cbox.three
        include tabs/three
      section.cbox.four
        p Hi nowhere
    aside.col.c.data
      h2#next
      
      -if(cohort)
        
        p.pop
        p#curric
        script(src="/js/fetch-curriculum.js" data-token="curr" data-cohort=`${cohort}` data-id=`${cohort.curriculum}` data-quarter=`${cohort.quarter}`)
        h4#next
        ul#nextCourses
      -else
        p=`Nothing to display`
    script.
      document.querySelectorAll("#next")[0].appendChild( document.createTextNode(`${getNext( getCurrent() ).season} ${getNext( getCurrent() ).code}`) );
      document.querySelectorAll("#next")[1].appendChild( document.createTextNode(`${getNext( getCurrent() ).season} ${getNext( getCurrent() ).code} courses`) );
        