-if(course)
  h2.courseTitle=`${course.dept}${course.number} \u2012  ${course.name}`
  script(src="/js/fetch-all.js" defer data-token="sch" data-dept=`${course.dept}` data-num=`${course.number}`)
  table
    tr
      th Day of the week
      th Time RAnge
    tr
      td Monday
      td
        div.time-range#monday
          p Time Range: 
            span(class="slider-time") 9:00 AM
            |&nbsp;&horbar;&nbsp;
            span(class="slider-time2") 5:00 PM

          div(class="sliders_step1")
            div(class="slider-range")
    tr
      td Tuesday
      td
        div.time-range#tuesday
          p Time Range: 
            span(class="slider-time") 9:00 AM
            |&nbsp;&horbar;&nbsp;
            span(class="slider-time2") 5:00 PM

          div(class="sliders_step1")
            div(class="slider-range")
      td
    tr
      td Wednesday
      td
        div.time-range#wednesday
          p Time Range: 
            span(class="slider-time") 9:00 AM
            |&nbsp;&horbar;&nbsp;
            span(class="slider-time2") 5:00 PM

          div(class="sliders_step1")
            div(class="slider-range")
    tr
      td Thursday
      td
        div.time-range#thursday
          p Time Range: 
            span(class="slider-time") 9:00 AM
            |&nbsp;&horbar;&nbsp;
            span(class="slider-time2") 5:00 PM

          div(class="sliders_step1")
            div(class="slider-range")
    tr
      td Friday
      td
        div.time-range#friday
          p Time Range: 
            span(class="slider-time") 9:00 AM
            |&nbsp;&horbar;&nbsp;
            span(class="slider-time2") 5:00 PM

          div(class="sliders_step1")
            div(class="slider-range")

  datalist(id="startTimes")
    option(value="7.45")
    option(value="8.35")
    option(value="9.35")
    option(value="10.25")
    option(value="11.15")
  datalist(id="endTimes")
    option(value="8:35")
    option(value="9:35")
    option(value="10:25")
    option(value="11:15")
-else
  h2 Nothing to show your, buckaroo :-(