-if(course)
  h2.courseTitle=`${course.dept}${course.number} \u2012  ${course.name}`
  script(src="/js/fetch-all.js" defer data-token="sch" data-dept=`${course.dept}` data-num=`${course.number}`)
  table
    tr
      th Day of the week
      th Time RAnge
    tr
      td Monday
      td
        div.time-range#monday
          input(type="hidden" name="startM" id="startM" class="start")
          input(type="hidden" name="endM" id="endM" class="end")
          p Time Range: 
            span(class="slider-time") 9:00 AM
            |&nbsp;&horbar;&nbsp;
            span(class="slider-time2") 5:00 PM

          div(class="sliders_step1")
            div(class="slider-range")
    tr
      td Tuesday
      td
        div.time-range#tuesday
          input(type="hidden" name="startT" id="startT" class="start")
          input(type="hidden" name="endT" id="endT" class="end")
          p Time Range: 
            span(class="slider-time") 9:00 AM
            |&nbsp;&horbar;&nbsp;
            span(class="slider-time2") 5:00 PM

          div(class="sliders_step1")
            div(class="slider-range")
      td
    tr
      td Wednesday
      td
        div.time-range#wednesday
          input(type="hidden" name="startW" id="startW" class="start")
          input(type="hidden" name="endW" id="endW" class="end")
          p Time Range: 
            span(class="slider-time") 9:00 AM
            |&nbsp;&horbar;&nbsp;
            span(class="slider-time2") 5:00 PM

          div(class="sliders_step1")
            div(class="slider-range")
    tr
      td Thursday
      td
        div.time-range#thursday
          input(type="hidden" name="startR" id="startR" class="start")
          input(type="hidden" name="endR" id="endR" class="end")
          p Time Range: 
            span(class="slider-time") 9:00 AM
            |&nbsp;&horbar;&nbsp;
            span(class="slider-time2") 5:00 PM

          div(class="sliders_step1")
            div(class="slider-range")
    tr
      td Friday
      td
        div.time-range#friday
          input(type="hidden" name="startF" id="startF" class="start")
          input(type="hidden" name="endF" id="endF" class="end")
          p Time Range: 
            span(class="slider-time") 9:00 AM
            |&nbsp;&horbar;&nbsp;
            span(class="slider-time2") 5:00 PM

          div(class="sliders_step1")
            div(class="slider-range")

  datalist(id="startTimes")
    option(value="7.45")
    option(value="8.35")
    option(value="9.35")
    option(value="10.25")
    option(value="11.15")
  datalist(id="endTimes")
    option(value="8:35")
    option(value="9:35")
    option(value="10:25")
    option(value="11:15")
-else
  h2 Nothing to show your, buckaroo :-(